<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->


    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="text" id="password_confirmation" class="fadeIn third" name="login" placeholder="password_confirmation">
      <input type="submit" class="fadeIn fourth" value="Create">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/users">Sign In</a>
    </div>

  </div>
</div>
